@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 20px #cfd0d1;
  border-bottom-color: #ef4423;
  border-radius: 50%;
  content: "";
  height: 130px;
  width: 130px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

.pie-chart {
  background: radial-gradient(
      circle closest-side,
      white 0,
      white 35.04%,
      transparent 35.04%,
      transparent 48%,
      white 0
    ),
    conic-gradient(
      from 58deg,
      #4e79a7 0,
      #4e79a7 84.4%,
      #edc949 0,
      #edc949 100%
    );
  position: relative;
  width: 500px;
  min-height: 350px;
  margin: 0;
  outline: 1px solid #ccc;
}
