.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
