.homecta {
  //clip-path: polygon(0 0, 100% 230px, 100% 100%, 0 100%);
  background-image: url(../media/img/background-image-02.webp);
  background-repeat: no-repeat;
  background-position: 2px -40px;
}
