.homefooter {
  min-height: 62px;
  border-top: 2px solid var(--bg-color-secondary);
}

// @media (max-width: 576px) {
//   .footer .footer_container {
//     flex-wrap: wrap;
//     justify-content: center;
//   }
// }
