.mt--400 {
  margin-top: -400px;
}
.mt--5 {
  margin-top: -5px;
}

.mt--10 {
  margin-top: -10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-150 {
  margin-top: 150px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-100 {
  margin-left: 100px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-70 {
  margin-right: 70px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-90 {
  margin-right: 90px;
}

.mr-100 {
  margin-right: 100px;
}

@media (max-width: 576px) {
  .m-mt-8 {
    margin-top: 8px;
  }
  .m-mt-10 {
    margin-top: 10px;
  }

  .m-mt-20 {
    margin-top: 20px;
  }

  .m-mt-30 {
    margin-top: 30px;
  }

  .m-mt-40 {
    margin-top: 40px;
  }

  .m-mt-50 {
    margin-top: 50px;
  }

  .m-mt-60 {
    margin-top: 60px;
  }

  .m-mt-70 {
    margin-top: 70px;
  }

  .m-mt-80 {
    margin-top: 80px;
  }

  .m-mt-90 {
    margin-top: 90px;
  }

  .m-mt-100 {
    margin-top: 100px;
  }

  .m-mt-110 {
    margin-top: 110px;
  }

  .m-mt-120 {
    margin-top: 120px;
  }

  .m-mt-130 {
    margin-top: 130px;
  }

  .m-mt-140 {
    margin-top: 140px;
  }

  .m-mt-150 {
    margin-top: 150px;
  }

  .m-mb-0 {
    margin-bottom: 0px;
  }

  .m-mb-10 {
    margin-bottom: 10px;
  }

  .m-mb-20 {
    margin-bottom: 20px;
  }

  .m-mb-30 {
    margin-bottom: 30px;
  }

  .m-mb-40 {
    margin-bottom: 40px;
  }

  .m-mb-50 {
    margin-bottom: 50px;
  }

  .m-mb-60 {
    margin-bottom: 60px;
  }

  .m-mb-70 {
    margin-bottom: 70px;
  }

  .mb-80 {
    margin-bottom: 80px;
  }

  .m-mb-90 {
    margin-bottom: 90px;
  }

  .m-mb-100 {
    margin-bottom: 100px;
  }

  .m-ml-10 {
    margin-left: 10px;
  }

  .m-ml-20 {
    margin-left: 20px;
  }

  .m-ml-30 {
    margin-left: 30px;
  }

  .m-ml-40 {
    margin-left: 40px;
  }

  .m-ml-50 {
    margin-left: 50px;
  }

  .m-ml-60 {
    margin-left: 60px;
  }

  .m-ml-70 {
    margin-left: 70px;
  }

  .m-ml-80 {
    margin-left: 80px;
  }

  .m-ml-90 {
    margin-left: 90px;
  }

  .m-ml-100 {
    margin-left: 100px;
  }

  .m-mr-10 {
    margin-right: 10px;
  }

  .m-mr-20 {
    margin-right: 20px;
  }

  .m-mr-30 {
    margin-right: 30px;
  }

  .m-mr-40 {
    margin-right: 40px;
  }

  .m-mr-50 {
    margin-right: 50px;
  }

  .m-mr-60 {
    margin-right: 60px;
  }

  .m-mr-70 {
    margin-right: 70px;
  }

  .m-mr-80 {
    margin-right: 80px;
  }

  .m-mr-90 {
    margin-right: 90px;
  }

  .m-mr-100 {
    margin-right: 100px;
  }
}
