.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-210 {
  padding-top: 210px;
}

.pt-220 {
  padding-top: 220px;
}

.pt-230 {
  padding-top: 230px;
}

.pt-240 {
  padding-top: 240px;
}

.pt-250 {
  padding-top: 250px;
}

.pt-300 {
  padding-top: 300px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-210 {
  padding-bottom: 210px;
}

.pb-220 {
  padding-bottom: 220px;
}

.pb-230 {
  padding-bottom: 230px;
}

.pb-240 {
  padding-bottom: 240px;
}

.pb-250 {
  padding-bottom: 250px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-70 {
  padding-left: 70px;
}

.pl-80 {
  padding-left: 80px;
}

.pl-90 {
  padding-left: 90px;
}

.pl-100 {
  padding-left: 100px;
}

.pl-110 {
  padding-left: 110px;
}

.pl-120 {
  padding-left: 120px;
}

.pl-130 {
  padding-left: 130px;
}

.pl-140 {
  padding-left: 140px;
}

.pl-150 {
  padding-left: 150px;
}

.pl-160 {
  padding-left: 160px;
}

.pl-170 {
  padding-left: 170px;
}

.pl-180 {
  padding-left: 180px;
}

.pl-190 {
  padding-left: 190px;
}

.pl-200 {
  padding-left: 200px;
}

.pl-210 {
  padding-left: 210px;
}

.pl-220 {
  padding-left: 220px;
}

.pl-230 {
  padding-left: 230px;
}

.pl-240 {
  padding-left: 240px;
}

.pl-250 {
  padding-left: 250px;
}

.pl-260 {
  padding-left: 260px;
}

.pl-150 {
  padding-left: 150px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-50 {
  padding-right: 50px;
}

.pr-60 {
  padding-right: 60px;
}

.pr-70 {
  padding-right: 70px;
}

.pr-80 {
  padding-right: 80px;
}

.pr-90 {
  padding-right: 90px;
}

.pr-100 {
  padding-right: 100px;
}

.pr-110 {
  padding-right: 110px;
}

.pr-120 {
  padding-right: 120px;
}

.pr-130 {
  padding-right: 130px;
}

.pr-140 {
  padding-right: 140px;
}

.pr-150 {
  padding-right: 150px;
}

.pr-160 {
  padding-right: 160px;
}

.pr-170 {
  padding-right: 170px;
}

.pr-180 {
  padding-right: 180px;
}

.pr-190 {
  padding-right: 190px;
}

.pr-200 {
  padding-right: 200px;
}

.pr-210 {
  padding-right: 210px;
}

.pr-220 {
  padding-right: 220px;
}

.pr-230 {
  padding-right: 230px;
}

.pr-240 {
  padding-right: 240px;
}

.pr-250 {
  padding-right: 250px;
}

.pr-260 {
  padding-right: 260px;
}

.pr-260 {
  padding-right: 260px;
}

@media screen and (max-width: 820px) {
  .t-pt-10 {
    padding-top: 10px;
  }

  .t-pt-20 {
    padding-top: 20px;
  }

  .t-pt-30 {
    padding-top: 30px;
  }

  .t-pt-40 {
    padding-top: 40px;
  }

  .t-pt-50 {
    padding-top: 50px;
  }

  .pt-60 {
    padding-top: 60px;
  }

  .t-pt-70 {
    padding-top: 70px;
  }

  .t-pt-80 {
    padding-top: 80px;
  }

  .t-pt-90 {
    padding-top: 90px;
  }

  .t-pt-100 {
    padding-top: 100px;
  }

  .t-pt-110 {
    padding-top: 110px;
  }

  .t-pt-120 {
    padding-top: 120px;
  }

  .t-pt-130 {
    padding-top: 130px;
  }

  .t-pt-140 {
    padding-top: 140px;
  }

  .t-pt-150 {
    padding-top: 150px;
  }

  .t-pt-160 {
    padding-top: 160px;
  }

  .t-pt-170 {
    padding-top: 170px;
  }

  .t-pt-180 {
    padding-top: 180px;
  }

  .t-pt-190 {
    padding-top: 190px;
  }

  .t-pt-200 {
    padding-top: 200px;
  }

  .t-pt-210 {
    padding-top: 210px;
  }

  .t-pt-220 {
    padding-top: 220px;
  }

  .t-pt-230 {
    padding-top: 230px;
  }

  .t-pt-240 {
    padding-top: 240px;
  }

  .t-pt-250 {
    padding-top: 250px;
  }

  .t-pb-10 {
    padding-bottom: 10px;
  }

  .t-pb-20 {
    padding-bottom: 20px;
  }

  .t-pb-30 {
    padding-bottom: 30px;
  }

  .t-pb-40 {
    padding-bottom: 40px;
  }

  .t-pb-50 {
    padding-bottom: 50px;
  }

  .t-pb-60 {
    padding-bottom: 60px;
  }

  .t-pb-70 {
    padding-bottom: 70px;
  }

  .t-pb-80 {
    padding-bottom: 80px;
  }

  .t-pb-90 {
    padding-bottom: 90px;
  }

  .t-pb-100 {
    padding-bottom: 100px;
  }

  .t-pb-110 {
    padding-bottom: 110px;
  }

  .t-pb-120 {
    padding-bottom: 120px;
  }

  .t-pb-130 {
    padding-bottom: 130px;
  }

  .t-pb-140 {
    padding-bottom: 140px;
  }

  .t-pb-150 {
    padding-bottom: 150px;
  }

  .t-pb-160 {
    padding-bottom: 160px;
  }

  .t-pb-170 {
    padding-bottom: 170px;
  }

  .t-pb-180 {
    padding-bottom: 180px;
  }

  .t-pb-190 {
    padding-bottom: 190px;
  }

  .t-pb-200 {
    padding-bottom: 200px;
  }

  .t-pb-210 {
    padding-bottom: 210px;
  }

  .t-pb-220 {
    padding-bottom: 220px;
  }

  .t-pb-230 {
    padding-bottom: 230px;
  }

  .t-pb-240 {
    padding-bottom: 240px;
  }

  .t-pb-250 {
    padding-bottom: 250px;
  }

  .t-pl-10 {
    padding-left: 10px;
  }

  .t-pl-20 {
    padding-left: 20px;
  }

  .t-pl-30 {
    padding-left: 30px;
  }

  .t-pl-40 {
    padding-left: 40px;
  }

  .t-pl-50 {
    padding-left: 50px;
  }

  .t-pl-60 {
    padding-left: 60px;
  }

  .t-pl-70 {
    padding-left: 70px;
  }

  .t-pl-80 {
    padding-left: 80px;
  }

  .t-pl-90 {
    padding-left: 90px;
  }

  .t-pl-100 {
    padding-left: 100px;
  }

  .t-pl-110 {
    padding-left: 110px;
  }

  .t-pl-120 {
    padding-left: 120px;
  }

  .t-pl-130 {
    padding-left: 130px;
  }

  .t-pl-140 {
    padding-left: 140px;
  }

  .t-pl-150 {
    padding-left: 150px;
  }

  .t-pl-160 {
    padding-left: 160px;
  }

  .t-pl-170 {
    padding-left: 170px;
  }

  .t-pl-180 {
    padding-left: 180px;
  }

  .t-pl-190 {
    padding-left: 190px;
  }

  .t-pl-200 {
    padding-left: 200px;
  }

  .t-pl-210 {
    padding-left: 210px;
  }

  .t-pl-220 {
    padding-left: 220px;
  }

  .t-pl-230 {
    padding-left: 230px;
  }

  .t-pl-240 {
    padding-left: 240px;
  }

  .t-pl-250 {
    padding-left: 250px;
  }

  .t-pl-260 {
    padding-left: 260px;
  }

  .t-pl-150 {
    padding-left: 150px;
  }

  .t-pr-0 {
    padding-right: 0;
  }

  .t-pr-10 {
    padding-right: 10px;
  }

  .t-pr-20 {
    padding-right: 20px;
  }

  .t-pr-30 {
    padding-right: 30px;
  }

  .t-pr-40 {
    padding-right: 40px;
  }

  .t-pr-50 {
    padding-right: 50px;
  }

  .t-pr-60 {
    padding-right: 60px;
  }

  .t-pr-70 {
    padding-right: 70px;
  }

  .t-pr-80 {
    padding-right: 80px;
  }

  .t-pr-90 {
    padding-right: 90px;
  }

  .t-pr-100 {
    padding-right: 100px;
  }

  .t-pr-110 {
    padding-right: 110px;
  }

  .t-pr-120 {
    padding-right: 120px;
  }

  .t-pr-130 {
    padding-right: 130px;
  }

  .t-pr-140 {
    padding-right: 140px;
  }

  .t-pr-150 {
    padding-right: 150px;
  }

  .t-pr-160 {
    padding-right: 160px;
  }

  .t-pr-170 {
    padding-right: 170px;
  }

  .t-pr-180 {
    padding-right: 180px;
  }

  .t-pr-190 {
    padding-right: 190px;
  }

  .t-pr-200 {
    padding-right: 200px;
  }

  .t-pr-210 {
    padding-right: 210px;
  }

  .t-pr-220 {
    padding-right: 220px;
  }

  .t-pr-230 {
    padding-right: 230px;
  }

  .t-pr-240 {
    padding-right: 240px;
  }

  .t-pr-250 {
    padding-right: 250px;
  }

  .t-pr-260 {
    padding-right: 260px;
  }

  .t-pr-260 {
    padding-right: 260px;
  }
}

@media (max-width: 576px) {
  .m-pt-0 {
    padding-top: 0px;
  }

  .m-pt-10 {
    padding-top: 10px;
  }

  .m-pt-20 {
    padding-top: 20px;
  }

  .m-pt-30 {
    padding-top: 30px;
  }

  .m-pt-40 {
    padding-top: 40px;
  }

  .m-pt-50 {
    padding-top: 50px;
  }

  .m-pt-60 {
    padding-top: 60px;
  }

  .m-pt-70 {
    padding-top: 70px;
  }

  .m-pt-80 {
    padding-top: 80px;
  }

  .m-pt-90 {
    padding-top: 90px;
  }

  .m-pt-100 {
    padding-top: 100px;
  }

  .m-pb-0 {
    padding-bottom: 0px;
  }

  .m-pb-10 {
    padding-bottom: 10px;
  }

  .m-pb-20 {
    padding-bottom: 20px;
  }

  .m-pb-30 {
    padding-bottom: 30px;
  }

  .m-pb-40 {
    padding-bottom: 40px;
  }

  .m-pb-50 {
    padding-bottom: 50px;
  }

  .m-pb-60 {
    padding-bottom: 60px;
  }

  .m-pb-70 {
    padding-bottom: 70px;
  }

  .m-pb-80 {
    padding-bottom: 80px;
  }

  .m-pb-90 {
    padding-bottom: 90px;
  }

  .m-pb-100 {
    padding-bottom: 100px;
  }

  .m-pl-0 {
    padding-left: 0px;
  }

  .m-pl-10 {
    padding-left: 10px;
  }

  .m-pl-20 {
    padding-left: 20px;
  }

  .m-pl-30 {
    padding-left: 30px;
  }

  .m-pl-40 {
    padding-left: 40px;
  }

  .m-pl-50 {
    padding-left: 50px;
  }

  .m-pl-60 {
    padding-left: 60px;
  }

  .m-pl-70 {
    padding-left: 70px;
  }

  .m-pl-80 {
    padding-left: 80px;
  }

  .m-pl-90 {
    padding-left: 90px;
  }

  .m-pl-100 {
    padding-left: 100px;
  }

  .m-pr-0 {
    padding-right: 0px;
  }

  .m-pr-10 {
    padding-right: 10px;
  }

  .m-pr-20 {
    padding-right: 20px;
  }

  .m-pr-30 {
    padding-right: 30px;
  }

  .m-pr-40 {
    padding-right: 40px;
  }

  .m-pr-50 {
    padding-right: 50px;
  }

  .m-pr-60 {
    padding-right: 60px;
  }

  .m-pr-70 {
    padding-right: 70px;
  }

  .m-pr-80 {
    padding-right: 80px;
  }

  .m-pr-90 {
    padding-right: 90px;
  }

  .m-pr-100 {
    padding-right: 100px;
  }
}
