:root {
  --bg-color-primary: #000;
  --bg-color-secondary: #b21b20;
  --text-color-primary: #b21b20;
  --text-color-secondary: #fff;
  --bg-color-orange: #d73a1b;
}

.font-color_orange {
  color: var(--text-color-primary);
}

.font-color_true-orange {
  color: var(--bg-color-orange);
}

.font-color_white {
  color: var(--text-color-secondary);
}

.font-color_black {
  color: var(--bg-color-primary);
}

.font-color_red {
  color: var(--bg-color-secondary);
}

.font-color_linear {
  background: linear-gradient(
    to right,
    #ee3524,
    #f04b21,
    #f25c1f,
    #f36c1e,
    #f47b20
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.bg-color_primary {
  background-color: var(--bg-color-primary);
}

.bg-color_secondary {
  background-color: var(--bg-color-secondary);
}

.bg-color_orange {
  background-color: var(--bg-color-orange);
}
