.font-size_14px {
  font-size: 14px;
}

.font-size_18px {
  font-size: 18px;
}

.font-size_20px {
  font-size: 20px;
}

.font-size_22px {
  font-size: 22px;
}

.font-size_23px {
  font-size: 23px;
}

.font-size_24px {
  font-size: 24px;
}

.font-size_25px {
  font-size: 25px;
}

.font-size_26px {
  font-size: 26px;
}

.font-size_28px {
  font-size: 28px;
}

.font-size_30px {
  font-size: 30px;
}

.font-size_32px {
  font-size: 32px;
}

.font-size_34px {
  font-size: 34px;
}

.font-size_42px {
  font-size: 42px;
}

.font-size_48px {
  font-size: 48px;
}

.font-size_54px {
  font-size: 54px;
}

.font-size_60px {
  font-size: 60px;
}

.font-size_64px {
  font-size: 64px;
}

.font-size_113px {
  font-size: 113px;
}

.font-size_130px {
  font-size: 130px;
}

@media screen and (max-width: 820px) {
  .t-font-size_14px {
    font-size: 14px;
  }
  .t-font-size_18px {
    font-size: 18px;
  }
  .t-font-size_23px {
    font-size: 23px;
  }
  .t-font-size_22px {
    font-size: 22px;
  }
  .t-font-size_26px {
    font-size: 26px;
  }
  .t-font-size_20px {
    font-size: 20px;
  }
  .t-font-size_32px {
    font-size: 32px;
  }
  .t-font-size_33px {
    font-size: 33px;
  }
  .t-font-size_40px {
    font-size: 40px;
  }
  .t-font-size_44px {
    font-size: 44px;
  }
  .t-font-size_47px {
    font-size: 47px;
  }
  .t-font-size_50px {
    font-size: 50px;
  }
  .t-font-size_54px {
    font-size: 54px;
  }

  .t-font-size_70px {
    font-size: 70px;
  }
}

@media (max-width: 576px) {
  .m-font-size_14px {
    font-size: 14px;
  }
  .m-font-size_18px {
    font-size: 18px;
  }
  .m-font-size_23px {
    font-size: 23px;
  }
  .m-font-size_22px {
    font-size: 22px;
  }
  .m-font-size_26px {
    font-size: 26px;
  }
  .m-font-size_20px {
    font-size: 20px;
  }
  .m-font-size_32px {
    font-size: 32px;
  }
  .m-font-size_33px {
    font-size: 33px;
  }
  .m-font-size_36px {
    font-size: 36px;
  }
  .m-font-size_40px {
    font-size: 40px;
  }
  .m-font-size_44px {
    font-size: 44px;
  }
  .m-font-size_47px {
    font-size: 47px;
  }
  .m-font-size_50px {
    font-size: 50px;
  }
  .m-font-size_54px {
    font-size: 54px;
  }
}
.font-weight_300 {
  font-weight: 300;
}

.font-weight_400 {
  font-weight: 400;
}

.font-weight_500 {
  font-weight: 500;
}

.font-weight_700 {
  font-weight: 700;
}

.font-weight_600 {
  font-weight: 600;
}

.font-weight_800 {
  font-weight: 800;
}

.font-weight_900 {
  font-weight: 900;
}

.line-height_40 {
  line-height: 40px;
}

.line-height_35 {
  line-height: 35px;
}

.line-height_28 {
  line-height: 28px;
}

@media screen and (max-width: 480px) {
  .m-line-height_40 {
    line-height: 40px;
  }

  .m-line-height_28 {
    line-height: 28px;
  }
}
